{% load static %}
<html>
<head>
    <title>Treebo Booking Details</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <style>
        .loading {
     width: 36px;
     margin: 100px auto;
    }
    .hidden{
    display:none !important;
    }
    .loading-bar {
     display: inline-block;
     width: 4px;
     height: 18px;
     border-radius: 4px;
     background-color: #11d05d ;
     animation: loading 1s ease-in-out infinite;
    }
    .loading-bar:nth-child(1) {
     animation-delay: 0;
    }
    .loading-bar:nth-child(2) {
     animation-delay: 0.09s;
    }
    .loading-bar:nth-child(3) {
     animation-delay: .18s;
    }
    .loading-bar:nth-child(4) {
     animation-delay: .27s;
    }

    @keyframes loading {
     0% {
       transform: scale(1);
     }
     20% {
       transform: scale(1, 2.2);
     }
     40% {
       transform: scale(1);
     }
    }

input[type="date"]:before {
   content: attr(placeholder) !important;
   color: #aaa;
   margin-right: 0.5em;
 }
 input[type="date"]:focus:before,
 input[type="date"]:valid:before {
   content: "";
 }
    </style>
</head>
<body class="container-fluid">
<p><strong>Search using booking id</strong></p>
<form class="form-inline">
    <input class="form-control" style="width: 91%;" id="search_box" type="text" name="search_box" placeholder="booking_id" />
    <button class="btn btn-success" style="width: 8%" id="search_submit" type="button" onclick="codeAddress()" >Submit</button>
</form>
<br>

<p><strong>Search using other parameters</strong></p>
<form class="form-inline">
    <input class="form-control" style="width: 15%" id="guest_firstname" type="text" name="guest_firstname"  placeholder="guest_firstname" >
    <input class="form-control" style="width: 15%" id="guest_lastname" type="text" name="guest_lastname"  placeholder="guest_lastname" >
    <input class="form-control" style="width: 15%" id="guest_email" type="text" name="guest_email"  placeholder="guest_email" >
    <input class="form-control" style="width: 15%" id="guest_phone" type="text" name="guest_phone"  placeholder="guest_phone" >

    <button class="btn btn-success" style="width: 8%" id="search_submit1" type="button" onclick="codeAddress1()">Submit</button>
</form>

<div class="audit__detail">
    <div class="loading hidden" id="price_loader">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>


    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>booking_id</th>
            <th>group_code</th>

            <th>guest_email</th>
            <th>guest_phone</th>

            <th>guest_first_name</th>
            <th>guest_last_name</th>
            <th>checkin_date</th>
            <th>checkout_date</th>

            <th>hotel_name</th>
            <th>adult count</th>
	    <th>child count</th>
	    <th>status</th>
	    <th>source</th>	
	    <th>stay_source</th>
	    <th>bia_status</th>
	    <th>number of rooms</th>
        </tr>
        </thead>
        <tbody id="bookingData">

        </tbody>
    </table>

</div>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">

        function sleep(milliseconds)
        {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++)
            {
                if ((new Date().getTime() - start) > milliseconds)
                {
                    break;
                }
            }
        }

        function codeAddress() {
            $("#price_loader").removeClass('hidden');
            $(".table").addClass('hidden');
            var address = document.getElementById("search_box").value;

            if (address == "" )
            {
                alert("Please input booking id");
                $("#price_loader").addClass('hidden');
                $(".table").removeClass('hidden');
                return false;
            }
            $.ajax({
                type: "POST",
                url: "http://tools.treebohotels.com/bookingsearch/api/",

                data: {
                    "address":address,
                },
                success: function(data){
                    $('#bookingData').html('');
                    var booking_data = data.data;
		    if(booking_data.length<1)
                    {
                            alert("no booking data found")
			    $("#price_loader").addClass('hidden');
                            $(".table").removeClass('hidden');
                    }
                    else
	            {
                    	$.each(booking_data, function(i, item)
                    	{
                      	sleep(500);
                      	var hotelname = "";
                      	$.ajax({
                        	url: "https://www.treebohotels.com/api/v2/hotels/"+ booking_data[i][5] +"/",
                        	success: function(data) {
                          	var x = data;
                          	hotelname = data.data[0].name;
				

                          	j=i+1

                         	$('<tr>').html('<th scope="row">'+ j +'</th><td>' + booking_data[i][3]  + '</td><td>' + booking_data[i][4] + '</td><td>' + booking_data[i][6] + '</td><td>' + booking_data[i][9] + '</td><td>' + booking_data[i][7] + '</td><td>' + booking_data[i][8] + '</td><td>' + booking_data[i][14] + '</td><td>' + booking_data[i][15] + '</td><td>' + hotelname + '</td><td>' + booking_data[i][16] + '</td><td>' + booking_data[i][17] + '</td><td>' +booking_data[i][23] + '</td><td>' + booking_data[i][22] + '</td><td>' + booking_data[i][26] + booking_data[i][27] + '</td><td>' + booking_data[i][47] + '</td><td>' + 1 + '</td>' ).appendTo('#bookingData');

                        	}
			
                      	
		    });

                    $("#price_loader").addClass('hidden');
                    $(".table").removeClass('hidden');
                    }
                );
	}

                },
                error:function(data){
                    //do something on error

                    alert(data.msg);
                    $("#price_loader").addClass('hidden');
                    $(".table").removeClass('hidden');
                }

            });
        }

        function codeAddress1() {
            $("#price_loader").removeClass('hidden');
            $(".table").addClass('hidden');
            var first_name = document.getElementById("guest_firstname").value;
            var last_name = document.getElementById("guest_lastname").value;
            var email = document.getElementById("guest_email").value;
            var phone = document.getElementById("guest_phone").value;




            if (first_name == "" && last_name == "" && email == "" && phone == "" )
            {
                alert("Please input a Value");
                $("#price_loader").addClass('hidden');
                $(".table").removeClass('hidden');
                return false;
            }

            $.ajax({
                type: "POST",
                url: "http://tools.treebohotels.com/bookingsearch/apimultiple/",
                data: {
                    "first_name":first_name,
                    "last_name":last_name,
                    "email":email,
                    "phone":phone,

                },
                success: function(data){

                    $('#bookingData').html('');
                    var booking_data = data.data;
                    debugger;
                    if(booking_data.length<1)
                    {
                        $("#price_loader").addClass('hidden');
                        $(".table").removeClass('hidden');
                        return false;
                    }
                    debugger;
                    $.each(booking_data, function(i, item)
                    {
                      sleep(500);

                      var hotelname = "";
                      $.ajax({
                        url: "https://www.treebohotels.com/api/v2/hotels/"+ booking_data[i][8] +"/",
                        success: function(data) {
                          var x = data;
                          hotel = data.data;
                          if(hotel.length<1)
                          {
                            hotelname="---"
                          }
                          else
                          {
                            hotelname = hotel[0].name;
                          }
                          j=i+1
                          $('<tr>').html('<th scope="row">'+ j +'</th><td>' + booking_data[i][0]  + '</td><td>' + booking_data[i][1] + '</td><td>' + booking_data[i][2] + '</td><td>' + booking_data[i][3] + '</td><td>' + booking_data[i][4] + '</td><td>' + booking_data[i][5] + '</td><td>' + booking_data[i][6] + '</td><td>' + booking_data[i][7] + '</td><td>' + hotelname + '</td><td>' + booking_data[i][9] + '</td><td>' + booking_data[i][15] + '</td><td>' +  booking_data[i][10] + '</td><td>' + booking_data[i][11] + '</td><td>' + booking_data[i][12]+ booking_data[i][13] + '</td><td>' + booking_data[i][14] + '</td><td>' + 1 + '</td>').appendTo('#bookingData');

                        }
                      });

                     $("#price_loader").addClass('hidden');
                      $(".table").removeClass('hidden');
                    }

                );


                },
                error:function(data){
                    //do something on error

                    $("#price_loader").addClass('hidden');
                    $(".table").removeClass('hidden');
                }
            });
        }

    </script>
</body>
</html>
